<div class="form-group {{!input.valid && input.dirty ? 'has-danger' : ''}}">
  <label for="{{model.name}}">{{model.label}}</label>
  <input #input='ngModel' type="text" class="form-control" [placeholder]='model.placeholder' [(ngModel)]='model.value' [id]='model.id'
    [name]='model.name' [pattern]='model.pattern' [required]='model.required' />
  <div class="form-control-feedback" *ngIf='input.valid'>{{model.validationMessage}}</div>
  <small class="form-text text-muted" *ngIf='model.helpText'>{{model.helpText}}</small>
</div>
